<!doctype html>
<html lang="es-ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar camionero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container mt-5">
        <div class="card card-body">
            <a href="" class="mb-2">Volver</a>
            <div class="h3 card-title">Editar camionero</div>
            <div class="d-flex justify-content-center">
              <div id="spinner" class="spinner-border text-center" role="status"></div>
            </div>
            <form action="camioneros/editarCamioneros" method= "POST" id="form">
              <div class="mb-3">
                <label class="form-label" for="dni">Dni</label>
                <input type="number" class="form-control" id="dni" name="dni">
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" step="0.1" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="mb-3">
                  <label for="salario" class="form-label">Salario</label>
                    <input type="number" step="0.1" class="form-control" id="salario" name="salario">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="telefono">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono">
                   </div>
                   <div class="mb-3">
                    <label class="form-label" for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion">
                   </div>
                  <div class="mb-3">
                    <label for="poblacion" class="form-label">Población</label>
                      <input type="text" step="0.1" class="form-control" id="poblacion" name="poblacion">
                    </div>
                    <button type="button" class="btn btn-success" onclick="editarProducto()" id="guardar">Guardar</button>
                    <div class="form-text text-danger" id="error"></div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
  <script src="/js/camioneros.js"></script>
    <script>
         function getIdCamionero() {
            const url = window.location.href;
            const urlArray = url.split('/');
            const id = urlArray[urlArray.length - 1];
            return id;
            console.log(id);
          }
        function editarCamionero(){
            let id = getIdCamionero();
            let url = `http://localhost:3000/camioneros/edit/${id}`;
            const nombre = document.getElementById('nombre');
            const dni = document.getElementById('dni');
            const direccion = document.getElementById('direccion');
            const telefono = document.getElementById('telefono');
            const salario = document.getElementById('salario');
            const poblacion = document.getElementById('poblacion');

            const data = {
              'nombre': nombre.value,
              'dni': dni.value,
              'direccion': direccion.value,
              'telefono': telefono.value,
              'salario': salario.value,
              'poblacion': poblacion.value
            }

            fetch(url, {
              method: 'PUT',
              body: JSON.stringify(data),
              headers: {
                'Content-Type': 'application/json'
              },
            })
              .then(response => response.json())
              .then(data => {
                console.log(data);
                location.href = '/camioneros';
              })
              .catch(error => console.log(error));
          }
          

        document.addEventListener('DOMContentLoaded', function () {
          

          function getCamionero() {
            let id = getIdCamionero();
            let url = `http://localhost:3000/camioneros/${id}`;
            fetch(url)
              .then(response => { return response.json() })
              .then(data => {
                document.getElementById("dni").value = data.dni;
                document.getElementById("nombre").value = data.nombre;
                document.getElementById("telefono").value = data.telefono;
                document.getElementById("direccion").value = data.direccion;
                document.getElementById("salario").value = data.salario;
                document.getElementById("poblacion").value = data.poblacion;

              })
              .catch(error => console.log(error));
          }



          getCamionero();
          
          getIdCamionero();
        }); 
  </script>
</html>